<nz-layout style="margin:0 auto;max-width: 1280px;width: 100%;">
  <nz-header style=" display: flex; align-items: center;justify-content: center;">
    <span routerLink="" class="header-logo">
      <span><img src="/assets/logo-blue-transparent.png" width="25" /></span>
      <span nz-typography style="color: #ffffff; margin-right: 50px;">softlibrary</span>
    </span>
    <span *ngIf="showMenu">
      <a nz-button nzType="default" nzGhost nz-dropdown nzTrigger="click" [nzDropdownMenu]="projects">Projects</a>
      <nz-dropdown-menu #projects="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <a routerLink="/wp-plugin" nz-button nzType="default" nzGhost class="menu_item">Wordpress Plugin</a>
          </li>
        </ul>
      </nz-dropdown-menu>
      <a href="#" nz-button nzType="default" nz-dropdown [nzDropdownMenu]="community" nzTrigger="click"
        nzGhost>Community</a>
      <nz-dropdown-menu #community="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <a href="https://forum.softlibrary.org" target="_blank">Forum</a>
          </li>
          <li nz-menu-item>
            <a href="https://github.com/softlibrary" target="_blank">Github</a>
          </li>
          <li nz-menu-item>
            <a href="https://gitter.im/softlibrary" target="_blank">Gitter</a>
          </li>
        </ul>
      </nz-dropdown-menu>
      <a href="https://blog.softlibrary.org" target="_blank" nz-button nzType="default" nzGhost>Blog</a>
     </span>
    <span style="flex: 1 1 auto;"></span>
    <a href="#" nz-button nz-dropdown [nzDropdownMenu]="language" nzType="link" nzGhost nzTrigger="click">
      <i nz-icon nzType="flag"></i>
    </a>
    <nz-dropdown-menu #language="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>
          <a>English</a>
        </li>
      </ul>
    </nz-dropdown-menu>
    <button nz-button nzType="primary" (click)="open()" *ngIf="showBtn" class="btnMenu">
      <i nz-icon nzType="align-right" nzTheme="outline"></i>
    </button>
    <nz-drawer [nzClosable]="false" [nzVisible]="visible" [nzPlacement]="placement" nzTitle="softlibrary"
      nzWrapClassName="drawer" (nzOnClose)="close()">
      <ng-container *nzDrawerContent class="drawer_container">
        <ul nz-menu nzMode="inline">
          <li nz-submenu nzTitle="Projects">
            <ul>
              <li nz-menu-item>
                <a routerLink="/wp-plugin" >Wordpress Plugin</a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Community">
            <ul>
              <li nz-menu-item>
                <a href="https://forum.softlibrary.org" target="_blank">Forum</a>
              </li>
              <li nz-menu-item>
                <a href="https://github.com/softlibrary" target="_blank">Github</a>
              </li>
              <li nz-menu-item>
                <a href="https://gitter.im/softlibrary" target="_blank">Gitter</a>
              </li>
            </ul>
          </li>
          <li nz-menu-item>
            <a href="https://blog.softlibrary.org" target="_blank">Blog</a>
          </li>
        </ul>
      </ng-container>
    </nz-drawer>
  </nz-header>
</nz-layout>
