<app-header></app-header>
<div class="container">
  <div class="title">Our Plugin</div>
  <div nz-row [nzGutter]="{xxl:64}" class="plugin-container">
    <a nz-col [nzXXl]="8" [nzLg]="10" [nzMd]="12" [nzXs]="24" class="item" href="#">
      <img src="/assets/Image-Uploader-WP.jpg" width="100" alt="" />
      <span class="title">WP Cloudflare Images Uploader</span>
      <div class="des">Upload your media direct to Cloudflare Images and use it as media CDN.</div>
    </a>
    <!-- <a nz-col [nzXXl]="8" [nzLg]="8" [nzMd]="12" [nzXs]="24" class="item" href="https://wordpress.org/plugins/"></a>
    <a nz-col [nzXXl]="8" [nzLg]="8" [nzMd]="12" [nzXs]="24" class="item" href="https://wordpress.org/plugins/"></a> -->
  </div>
</div>
<app-footer></app-footer>
