<app-header></app-header>
<div class="container">
  <div class="title">Our Plugin</div>
  <div nz-row>
    <a nz-col [nzXXl]="8" class="plugin-item" href="https://wordpress.org/plugins/">
  
        <img src="/assets/Image-Uploader-WP.jpg" width="100">
        <span class="plugin-title">WP Cloudflare Uploader</span>
        <div class="plugin-des">Upload your media direct to Cloudflare Images and use it as media CDN.</div>

    </a>
    <div nz-col [nzSpan]="8" class="plugin-item">
     
    </div>
    <div nz-col [nzSpan]="8" class="plugin-item">
     
    </div>
  </div>
</div>
<app-footer></app-footer>
